{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prsnt AI - Tool</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'ai.css' %}">
</head>
<body>
    <div class="nav">
        <a href="/" class="nav-element">Home</a>
        <a href="/ai" class="nav-element">AI Tool</a>
        <a href="/docs" class="nav-element">Docs</a>
        <a href="https://github.com/orgs/prsntai/repositories" target="_blank" rel="noopener" class="nav-right">GitHub</a>
    </div>
    <h1>AI Tool</h1>
    <p>Transcription:</p>
    <form id="controlForm" method="post" action="{% url 'ai' %}">
        {% csrf_token %}
        <button type="submit" name="start_thread" id="startButton">Start</button>
        <button type="submit" name="stop_thread" id="stopButton">Stop</button>
    </form>
    
    <div id="transcription"></div>
</body>
<footer><p>&copy; 2023 Prsnt AI</p></footer>    
</html>
